@import "tailwindcss";

@theme {
  --color-realify-bg: #fcf9f4;
  --color-realify-dark: #1e1e1e;
  --color-realify-blue: #2352f8;
  --color-realify-green: #e9f5d9;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6;
}
